extends layout.pug

block vars
  -var title = 'agenda'

block title
        | Agenda
block content       
        table 
            tr
                td.fragment
                    ul
                        li Introduction
                        li Service Workers
                        li Caching options
                        li Storage
                        li Push Notification
                        li Tooling                        
                