extends ../layout.pug

block vars
  -var title = 'notification-types'

block title
        | Notification types
block content       
        ul.no-bullet
          li.fragment        
            img(src="img/notification-simple.png")  
          li.fragment             
            img(src="img/notification-with-vibration.png")  
          li.fragment               
            img(src="img/notification-with-icon.png")  
          li.fragment               
            img(src="img/notification-with-action.png")   
            
